<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uoregon.ecaluya.sneaker_game">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="Guess the Sneaker"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainMenu"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gameplayActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainMenu">
        </activity>
        <activity android:name=".win"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.PopUp">
        </activity>
        <activity android:name=".lose"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.PopUp">
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainMenu">
        </activity>
        <activity android:name=".AnswersActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainMenu">
        </activity>
    </application>

</manifest>